nav, footer {
  background-color: #AA0601;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navList {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.navList li a {
  color: white;
  display: block;
  line-height: 1.5;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.footerNav_link {
  display: flex;
  margin-bottom: 2.25rem;
}
.footerNav_link li {
  margin-right: 3rem;
}
.footerNav_link li:last-child {
  margin-right: 0;
}
.footerNav_link li a {
  color: white;
  display: block;
}

.footerContact {
  padding-bottom: 2rem;
}
.footerContact .contactItem {
  display: flex;
  align-items: center;
}
.footerContact .contactItem:first-child {
  margin-bottom: 0.5rem;
}
.footerContact .contactItem img {
  width: 2.25rem;
  margin-right: 1.5rem;
}
.footerContact .contactItem p {
  font-size: 2rem;
  color: white;
}

.footerNav_icon {
  display: flex;
}
.footerNav_icon li {
  margin-right: 2rem;
}
.footerNav_icon li:last-child {
  margin-right: 0;
}
.footerNav_icon li img {
  width: 3rem;
}

.copyright {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
}
.copyright ul {
  display: flex;
}
.copyright ul li:first-child {
  margin-right: 3rem;
}
.copyright ul li a {
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .headerContent {
  display: inline-block;
}

.faq {
  padding: 5rem 0;
}
.faq h1 {
  border-left: #9F1213 solid 0.5rem;
  padding-left: 1rem;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.faq h3 {
  padding: 1.5rem 0;
  font-weight: bolder;
  font-size: 1.5rem;
}
.faq .faqItem {
  margin-bottom: 2rem;
}
.faq .faqItem:last-child {
  margin-bottom: 0;
}
.faq .faqItem .quest {
  font-weight: bolder;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.place {
  padding: 5rem 0;
}
.place h1 {
  border-left: #9F1213 solid 0.5rem;
  padding-left: 1rem;
  font-size: 3rem;
  margin-bottom: 2.0625rem;
}
.place form {
  margin: 2rem 0 2.5rem 0;
  display: flex;
  align-items: center;
  width: 32%;
}
.place form .optionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}
.place form .selectLabel {
  width: calc(100% - 7.5rem);
}
.place form .selectLabel select {
  width: 100%;
  border: #CED4DA 1px solid;
  padding: 0.375rem 0.75rem;
}
.place .placeList {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  flex-wrap: wrap;
}
.place .placeItem {
  width: 32%;
  margin-bottom: 3rem;
}
.place .placeItem h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-left: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.place .placeItem .placeItemContentContainer {
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
  border-bottom: none;
  padding: 1rem 1.5rem;
}
.place .placeItem .placeItemContentContainer li {
  margin-bottom: 0.5rem;
}
.place .placeItem .placeItemContentContainer li:last-child {
  margin-bottom: 0;
}
.place .placeItem .placeIcon {
  width: 1.125rem;
  margin-right: 0.6875rem;
}
.place .placeItem .placeItemContent {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.place .placeItem .placeItemContent:last-child {
  margin-bottom: 1rem;
}
.place .placeItem .button {
  background-color: black;
}
.place .placeItem .button a {
  color: white;
  display: block;
  font-size: 1.1875rem;
  line-height: 3.1875rem;
  text-align: center;
}

/*# sourceMappingURL=layout.css.map */
