

// Nav 設定

nav, footer
  background-color: #AA0601

.nav
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 1rem 0

.navList
  width: 30%
  display: flex
  justify-content: space-between

  li a
    color: white
    display: block
    line-height: 1.5



// Footer 設定

.footer
  display: flex
  justify-content: space-between
  padding-top: 3rem


.footerNav_link
  display: flex


  margin-bottom: 2.25rem

  li

    margin-right: 3rem
    &:last-child
      margin-right: 0

    a
      color: white
      display: block


.footerContact
  padding-bottom: 2rem
  //border-bottom: 1px white solid

  .contactItem
    display: flex
    align-items: center

    &:first-child
      margin-bottom: .5rem

    img
      width: 2.25rem
      margin-right: 1.5rem

    p
      font-size: 2rem
      color: white

.footerNav_icon
  display: flex

  li
    margin-right: 2rem
    &:last-child
      margin-right: 0

    img
      width: 3rem

.copyright
  padding: 2rem 0
  display: flex
  justify-content: space-between
  color: white

  ul
    display: flex
    li
      &:first-child
        margin-right: 3rem
      a
        color: white

// Header

header
  //width: 100%
  display: flex
  align-items: center
  justify-content: flex-end


  .headerContent
    display: inline-block


// Faq

.faq
  padding: 5rem 0
  h1
    border-left: #9F1213 solid .5rem
    padding-left: 1rem
    font-size: 3rem //48
    margin-bottom: .5rem
  h3
    padding: 1.5rem 0
    font-weight: bolder
    font-size: 1.5rem // 24
  .faqItem
    margin-bottom: 2rem
    &:last-child
      margin-bottom: 0
    .quest
      font-weight: bolder
      font-size: 1.25rem
      margin-bottom: .5rem

// Place


.place
  padding: 5rem 0
  h1
    border-left: #9F1213 solid .5rem
    padding-left: 1rem
    font-size: 3rem //48
    margin-bottom: 2.0625rem // 33

  form
    margin: 2rem 0 2.5rem 0
    display: flex
    align-items: center
    width: 32%
    .optionTitle
      font-size: 1.5rem
      font-weight: bold
      margin-right: 1rem
    .selectLabel
      width: calc(100% - 7.5rem)
      select
        width: 100%
        border: #CED4DA 1px solid
        padding: .375rem .75rem // 6 12

  .placeList
    display: flex
    justify-content: flex-start
    gap: 2%
    flex-wrap: wrap

  .placeItem
    width: 32%
    margin-bottom: 3rem

    h3
      font-size: 1.5rem
      font-weight: bold
      padding: .5rem 1.5rem
      border-right: 1px solid #00000020
      border-left: 1px solid #00000020

    .placeItemContentContainer
      border: 1px solid #00000020
      border-bottom: none
      padding: 1rem 1.5rem

      li
        margin-bottom: .5rem
        &:last-child
          margin-bottom: 0

    .placeIcon
      width: 1.125rem //18
      margin-right: .6875rem // 11

    .placeItemContent
      font-size: 1.25rem
      margin-bottom: .5rem
      &:last-child
        margin-bottom: 1rem

    .button
      background-color: black

      a
        color: white
        display: block
        font-size: 1.1875rem // 19px
        line-height: 3.1875rem // 51px
        text-align: center






